:root {
    --blue-grey-color: #2c3e50;
    --light-green-color: #1abc9c;
    --lighter-blue-color : #3a546d;
}

.bordo {
    border: 2px solid ;
    width: 40%;
    height: 2px;
    
}


.blue-grey {
    color: var(--blue-grey-color);
}

.light-green {
    color: var(--light-green-color);
}
.bg-blue-grey{
    background-color: var(--blue-grey-color);
}

.bg-light-green{
    background-color: var(--light-green-color);
}

.bg-lighter-blue {
    background-color: var(--lighter-blue-color);
}


.grey {
    color: #2c3e50;
}

.jumbo-photo {
    width: 40%;
    height: 40%;
}

.border-icons {
    border-radius: 50%;
    border: 1px solid white;
    width: 40px;
    height: 40px;
}

.i-footer {
    display: inline-block;
    border-radius: 60px;
    box-shadow:0px 0px 0px 1px  white;
    padding: 0.5em 0.6em;
  
  }




